/*
 * TODO:
 * - Koko ei saa mukautua, sillä palluroiden paikat eivät saa muuttua.
 */
body {
    height: 100vh;
    width: 100vw;
}

.solmu {
    height: 10em;
    width: 10em;

    position: absolute;
    border: solid black 1px;
}

/* #A, #B {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}

#jana {
    height: 100px;
    width: 5px;
    background-color: black;
} */